# df 一行中的列表拓展成多行

In [20]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A':['1','A',None],'B':['1', [2,3], [4,5,6]],'C':['1','2','3']})
print(df)
s = df.apply(lambda x: pd.Series(x['B']),axis=1).stack().reset_index(level=1, drop=True).rename('B',inplace=True)
new_df = df.drop('B', axis=1).join(s).reset_index(drop=True)
new_df

      A          B  C
0     1          1  1
1     A     [2, 3]  2
2  None  [4, 5, 6]  3

      A  C    B
0     1  1    1
1     A  2  2.0
2     A  2  3.0
3  None  3    4
4  None  3  5.0
5  None  3  6.0

In [22]:
new_df.dropna(subset=['A'])

   A  C    B
0  1  1    1
1  A  2  2.0
2  A  2  3.0

## df 按行写成入json

In [2]:
new_df.to_json('df.json', orient='records', lines=True)

In [4]:
new_df['A'].str.replace('A','a')

0    1
1    a
2    a
3    3
4    3
5    3
Name: A, dtype: object